@media(max-width:1100px){
    .left-sidebar{
        display: none;
    }
    .header-search input{
        display: none;
    }
    .header-search {
        width: 20px;
        margin-right: 100px;
    }
    .header-right{
        justify-content: flex-start;
        margin: 0;
    }
    .center-sidebar{
        left: 20%;
    }
}

@media(max-width:890px){
    .right-sidebar{
        display: none !important;
    }
    .center-sidebar{
        left: 50%;
        transform: translateX(-50%);
    }
}
@media(max-width:700px){
    .header-mid{
        display: none;
    }
}